.welcome {
  color: rgb(53, 50, 50);
  text-align: center;
}

.notification {
  background-color: #f8d7da; 
  color: #721c24; 
  padding: 15px; 
  margin: 10px 0; 
  border: 1px solid #f5c6cb; 
  border-radius: 5px; 
  font-size: 16px; 
}

.notification > button {
  border: none;
  background-color: rgb(206, 90, 90);
}

.notification > button:hover {
  background-color: #721c24;
  cursor: pointer;
}

table {     
    width: 50%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: auto; 
  }

  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;    
    
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  