.first-message {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.main-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.user-list-container,
.device-list-container {
    width: 45%;
}

.user-container,
.device-container {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #45a049;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}