<div class="login-container">
    <h2>Create Device</h2>
    <form (submit)="createDevice()">
      <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" [(ngModel)]="formData.description" required>
      </div>
      <div>
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" [(ngModel)]="formData.address" required>
      </div>
      <div>
        <label for="maximumHourlyEnergyConsumption">Maximum Hourly Energy Consumption:</label>
        <input type="number" id="maximumHourlyEnergyConsumption" name="maximumHourlyEnergyConsumption" [(ngModel)]="formData.maximumHourlyEnergyConsumption" required>
      </div>
      <button type="submit">Create</button>
    </form>
    <button (click)="goBack()">Back</button>
</div>
  